<h1>Edit<%= " " + @cohort.name %></h1>

<%= render 'form' %>

<ul>
  <li><%= link_to 'Back', cohorts_path %></li>
  <li><%= link_to 'Delete', @cohort, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
