<div class="edit-container">
  <div class="edit-title">
    <h1><%= "Edit " + @cohort.name %></h1>
    <%= link_to 'Delete', @cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <%= render 'form' %>

  <div class="edit-tools">
    <%= link_to 'Back', cohorts_path %>
  </div>
</div>
