<h1>Classes</h1>

<% @ordered_cohorts = @cohorts.sort_by { |obj| obj.year_group } %>
<% @ordered_cohorts.each do |cohort| %>
  <ul>
    <li><%= link_to cohort.name, cohort  %></li>
  </ul>
<% end %>

<ul>
  <li><%= link_to 'New Cohort', new_cohort_path %></li>
</ul>


