<div class="row">
  <div class="small-12 medium-6 large-6 columns all-cohorts-title">
    <h1>Classes</h1>
    <%= link_to 'Add New Class', new_cohort_path %>
  </div>
</div>

<% @ordered_cohorts = @cohorts.sort_by { |obj| obj.year_group } %>
<% @ordered_cohorts.each do |cohort| %>
<div class="small-12 medium-6 large-6 columns all-cohort-tile">
  <div class="all-cohort-title">
    <h2><%= link_to cohort.name, cohort %></h2>
    <%= cohort.teacher.first_name + cohort.teacher.second_name %>
  </div>
</div>
<% end %>


