<h1>Classes</h1>

<% @ordered_cohorts = @cohorts.sort_by { |obj| obj.year_group } %>
<% @ordered_cohorts.each do |cohort| %>
  <ul>
    <li><%= link_to cohort.name, cohort  %></li>
  </ul>
  <ul>
    <li><%= cohort.teacher.first_name + " " + cohort.teacher.second_name  %></li>
  </ul>
  <ul>
    <li><%= link_to 'Edit', edit_cohort_path(cohort) %></li>
  </ul>
<% end %>



<ul>
  <li><%= link_to 'New Cohort', new_cohort_path %></li>
</ul>


