<h1>Edit<% @user.first_name + " " + @user.second_name %></h1>

<%= render 'form' %>
<ul>
  <li><%= link_to 'Back', users_path %><li>
  <li><%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>