<h1>Resources</h1>
<% @resources_by_year_group = @resources.sort_by { |obj| obj.cohort.year_group } %>

<%= render @resources_by_year_group %>

<ul>
  <li><%= link_to 'New Resource', new_resource_path %></li>
</ul>




