<h1>My Homeworks</h1>
<h2><%= current_user.first_name + " " + current_user.second_name %></h2>
<h4><%= current_user.role + " - " + "#{current_user.cohorts.map(&:name).join}" %></h4>

<div class="user-resources">
  <% @user_cohorts = current_user.cohorts.sort_by { |obj| obj.year_group } %>
  <% @user_cohorts.each do |cohort| %>
    <div class="row class-resources">
      <% cohort.resources.each do |resource| %>
        <%= render resource %>
      <% end %>
    </div>
  <% end %>
</div>
