.comment {
  margin-top: 50px;
  height: 100px;
  line-height: 100px;
  .comments-image {
    text-align: right;
    .comment-image {
      border-radius: 100%;
      margin: 0 auto;
      // background-position: center;
      height: 100px;
    }
    .comment-comment{
      height: 100px;
      // line-height: 100px;
    }
  }
}