.resource-title {
  display: inline-block;
  font-size: 18px;
  color: #424242;
}

.resource-time {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  color: #424242;
}


.resource-pic {
  text-align: center;
  margin-top: 20px;

  img {
    margin: 0 auto;
    border-radius: 10px;
    width: 300px;
  }

}

.resource {
  margin: 50px 0;
  height: 200px;
  overflow: hidden;

  .resource-pic {
    text-align: center;

    img {
      margin: 0 auto;
      border-radius: 5px;
      width: 200px;
    }

  }

  .resource-info {
    margin: auto 0;

    .resource-name {

      h2 {
        display: inline-block;
        margin: 0;
      }

      a {
        display: inline-block;
        margin-left: 10px;
      }

    }

    .resource-cohort {
      margin-top: 20px;
      h3 {
        display: inline-block;
        margin: 0;
      }
    }
    .resource-description {
      margin-top: 20px;
    }
  }
}
