body {
  font-family: 'Lato', sans-serif;
  background: #FAFAFA;
}

header {
  width: 100%;
  background: #FF9300; // $dark_blue;
}

header .top-bar .name h1 a {
  font-weight: 700;
  font-size: 1.5em;
}

nav {
    max-width:960px;
    margin: 0 auto;
  }

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.flash-message {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: $dark_grey;
}

a:hover {
  color: $bright_blue;
}

