header {
  height: 100px;
  margin:0;
  padding:0;

  nav {
    max-width:960px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    padding: 0;

    ul {
      max-width:960px;
      height: 100px;
      line-height: 100px;
      text-align: right;
      margin: 0 auto;
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-left: 15px;
        padding: 0;
      }
    }
  }
}