// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
  display: inline-block;
}

.user-info {
  margin-top: 50px;
  img {
    border-radius: 100%;
  }
  h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.all-choices {
  text-align: center;
}

.user-resources {
  li {
    border: 1px solid black;
  }
}

  
