// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  margin: 50px 0;
  height: 200px;
  overflow: hidden;

  .profile-pic {
    text-align: center;

    img {
      border-radius: 100%;
      margin: 0 auto;
      // background-position: center;
      width: 200px;
    }

  }

  .profile-info {
    margin: auto 0;

    .profile-name {

      h2 {
        display: inline-block;
        margin: 0;
      }

      a {
        display: inline-block;
        margin-left: 10px;
      }

    }

    .profile-role {
      h3 {
        display: inline-block;
        margin: 0;
      }
    }

    .profile-classes {

      ul {
        margin-left: 0;

        li {
          list-style-type: none;
          display: inline-block;
          margin-right: 10px;
        }

      }

    }

  }

}

.user-resources {

}

@media only screen and (max-width: 640px) {

  .profile-pic img {

    // width:150px;
  }

 }







// .user-resources {
//   li {
    
//   }
//   .large-4 {
//     padding: 0;
//     width: calc(33.33% - 20px);
//   }
//   .resource-tile {
//     height: auto;
//     border: 1px solid #B4E0E1;
//     margin: 10px;
//   }
//   .resource-tile:hover {
//     background: #B4E0E1;
//   }
// }

  
