// color palette

$dark_blue:#607D8B;
$bright_blue:#2ABFD4;
$light_blue:#B4E0E1;
$dark_grey:lighter(#000, 10%);
$light-grey:#F5F5F5;

// fonts

// margins
$container_top: 50px;
$container_bottom: 50px;

//padding
