// color palette

$dark_blue:  #607D8B;
$bright_blue:#2ABFD4;
$light_blue: #B4E0E1;
$orange:     #FF9300;
$dark_grey:  #424242;
$grey:       #F5F5F5;
$light_grey: #FAFAFA;

// fonts

$lato: 'Lato', sans-serif;

// margins
$container_top: 50px;
$container_bottom: 50px;

//padding
